---
import '../styles/global.css'
import Header from '../components/Header.astro'
import config from '../config'
import Footer from '../components/Footer.astro'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title?: string
  tags?: string[]
}

const { title, tags } = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={config.description} />

    <meta property="og:site_name" content={config.title} />
    <meta property="og:title" content={title || config.title} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content=`${config.url}${Astro.url.pathname}` />
    <meta
      property="og:image"
      content=`https://ogimage.0sn.net/?title=${title || config.title}&site=0sn.net&tags=${tags?.join(',') || ''}`
    />
    <meta property="og:description" content={config.description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:image"
      content=`https://ogimage.0sn.net/?title=${title || config.title}&site=0sn.net&tags=${tags?.join(',') || ''}`
    />
    <meta name="twitter:title" content={title || 'minetaro12'} />
    <meta name="twitter:description" content="Oさんのページ" />

    <title>{title ? `${title} | ${config.title}` : config.title}</title>
    <script is:inline>
      const applyTheme = () => {
        if (
          localStorage.getItem('theme') === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      }

      document.addEventListener('astro:after-swap', applyTheme)
      applyTheme()
    </script>
    <ClientRouter />
  </head>
  <body class="bg-background text-fg overflow-y-scroll">
    <Header />
    <main class="mx-auto min-h-[calc(100svh-50px-30px)] max-w-[1000px] p-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
